<div class="container">
  <div class="row justify-content-center">
   <h1>Stupid coaching</h2>
    <h6>Ask your coach anything<h6>
    <form action="/answer" data-turbo="false">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="question" placeholder="ask a question"aria-label="Example text with button addon" aria-describedby="button-addon1">
      <button type="submit" class="btn btn-primary">Ask!</button>
    </div>
    </form>
  </div>
</div>
